body {
    background-color: #b482b4;
    margin: 0%;
}
.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.header {
    padding: 20px;
    background-color: #ab96ab;
    text-align: center;
}
.footer {
    padding: 20px;
    background-color: #4e1a4e;
    text-align: center;
}
.middle {
    display: flex;
    gap: 20px;
    flex: 1;
}
.left-sidebar {
    padding: 20px;
    background-color: #f52020;
    flex: 1;
    text-align: center;
}
.main-content {
    padding: 60px;
    background-color: #20f5f5;
    flex: 3;
    text-align: center;
}
.right-sidebar {
    padding: 20px;
    background-color: #20f559;
    flex: 1;
    text-align: center;
}